.card_animation {
    width: 100%;
    padding: 2rem;
    background-color: rgb(156, 156, 156);

}

.card_animation div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        list-style: none;
        white-space: nowrap;
   

        li {
            font-size: 1.5rem;
            animation: rollText 15s linear infinite;
        }
    }
}

.animation_skills-true {
    color: #fff;
}

.animation_skills-false {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

@keyframes rollText {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}