.card_contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    div {
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }

        p:nth-child(2) {
            margin-bottom: 5rem;
        }

        margin-bottom: -3rem;
    }

    span {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        background: linear-gradient(#766565, #DCBDBD);
        filter: blur(80px);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
    }
}