.typing {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 10s step-end infinite;
  }
  
  @keyframes blink {
    from {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  